.Header {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  color: white;
  border-bottom: 1px solid white;
}

.Menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.Menu a {
  color: inherit;
  position: relative;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 8px;
}

.Menu a:hover {
  background-color: white;
  color: var(--violet-11);
}

.Menu a:hover div {
  opacity: 0;
}
